html { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
    color: black;
}

a {
     color: black;
 }

div.center{
    text-align: center;
}

.centerText{
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto; 
}

.box {
    margin: auto;
    width: 200px;
    border-color: transparent;
    padding: 30px;
    background: lightblue;
    background-clip: border-box; 
    text-align: center;
}

.boxRegister{
    margin: auto;
    width: 300px;
    border-color: transparent;
    padding: 30px;
    background: lightblue;
    background-clip: border-box; 
    text-align: center;
}

.width{
    margin-left: auto;
    margin-right: auto;
}

.alert{
    color: red;
}

.login{
    margin-left: auto;
    margin-right: auto;
}

nav{
    background-color:#DCDCDC;
    margin-top: -10px;
    padding: 8px;
}
.inline h1, form, button {
    display: inline;
}

.Right{
    float: right;
    margin-top: -10px;
}

button.btn {
    padding: 15px;
    background-color: #DCDCDC;
    border-color: transparent;
    color: black;
    font-size: 16px;
}

button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.boxElements {
    border-radius: 25px;
    background-color: #DCDCDC;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: auto;
    box-shadow: 5px 10px black;
  }
  
  .dot {
    height: 80px;
    width: 80px;
    margin-top: -60px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
  }

  a {
      text-decoration: none;
  }

  #b{
      margin-top: 5px;
      margin-left:3px;
  }