div.center{
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
    
}

.box {
    margin: auto;
    width: 200px;
    border-color: transparent;
    padding: 30px;
    background: lightblue;
    background-clip: border-box; 
    text-align: center;
}

.boxRegister{
    margin: auto;
    width: 300px;
    border-color: transparent;
    padding: 30px;
    background: lightblue;
    background-clip: border-box; 
    text-align: center;
}

.width{
    margin-left: auto;
    margin-right: auto;
}

.alert{
    color: red;
}

.login{
    margin-left: auto;
    margin-right: auto;
}

nav{
    background-color:khaki;
    margin-top: -10px;
    padding: 8px;
}
.inline h1, form, button {
    display: inline;
}

.Right{
    float: right;
    margin-top: -10px;
}

button.btn {
    padding: 13px;
    background-color: khaki;
    border-color: transparent;
    color: black;
    font-size: 16px;
}

button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.boxElements {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  